@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer components {
  .page {
    @apply flex flex-col justify-center items-center w-full h-full;
  }
  .sub-page {
    @apply flex flex-col justify-center items-center w-full h-full pt-3;
  }
  .heading {
    @apply font-lexend text-5xl font-bold text-black mt-10 mb-4;
  }
  .sub-heading {
    @apply font-lexend text-xl font-medium text-black mb-4;
  }
  .body {
    @apply font-lexend-d text-sm font-normal text-black text-justify mt-4 mb-4 pl-3 pr-3;
  }
  .clip-path-custom {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    height: calc(120%);
  }

  .key-features {
    @apply flex items-center bg-dark-grey p-2 rounded-lg mt-2
  }

  .pillar-bg-data-management {
    @apply bg-dark-white;
  }

  .pillar-bg-automation-ai {
    @apply bg-dark-grey;
  }

  .pillar-bg-business-operations {
    @apply bg-light-blue;
  }
}
